<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dsib.dao.ToJudgeMapper">
	<select id="showJudge" parameterType="String" resultType="Map">
		SELECT
		BUSINESSNO , INSUREDCODE , POLICYNO , RENEWALFLAG , ENDDATE
		FROM
		GUPOLICYMAIN
		WHERE INSUREDCODE = #{INSURED }
		ORDER BY ENDDATE DESC
	</select>
	<delete id="deletePolicy" parameterType="String">
		DELETE GUPOLICYMAIN
		WHERE BUSINESSNO = #{businessno}
	</delete>
	<select id="selectPolicy" parameterType="String" resultType="String">
		SELECT POLICYNO FROM GUPOLICYMAIN WHERE BUSINESSNO = #{businessno}
	</select>
	<update id="updatePolicy" parameterType="Map">
		UPDATE GUPOLICYMAIN SET
		RENEWALFLAG = '1' , PREVIOUSPOLICYNO =
		#{PREVIOUSPOLICYNO,jdbcType=VARCHAR}
		WHERE BUSINESSNO = #{BUSINESSNO}
	</update>

</mapper>